.lagom-quote {
  margin-bottom: 2rem;
  padding-left: 1rem;
  border-left: 4px solid var(--quote-accent, black);
  display: inline-block;
  font-family: var(--quote-font-family, serif);
  font-style: italic;
}
