.lagom-quote {
  margin-bottom: 2rem;
  padding-left: 1rem;
  border-left: 4px solid var(--lagom-semantic-color-border-default);
  display: inline-block;
  font-family: var(--lagom-core-font-families-serif);
  font-style: italic;
  font-size: var(--lagom-core-font-sizes-xl);
  color: var(--lagom-semantic-color-fg-muted);
}

.lagom-quote h1,
.lagom-quote h2,
.lagom-quote h3,
.lagom-quote h4,
.lagom-quote h5,
.lagom-quote h6 {
  font-family: var(--lagom-core-font-families-serif);
}

.lagom-quote > :last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 992px) {
  .lagom-quote {
    border-left: 2px solid var(--lagom-semantic-color-border-default);
    font-size: var(--lagom-core-font-sizes-body);
  }
}

@media screen and (min-width: 1456px) {
  .lagom-quote {
    width: 130%;
    margin: 0 -15% 2rem -15%;
    padding-left: 2rem;
  }
}
