.lagom-page-header {
  color: var(--lagom-semantic-color-fg-default);
  font: var(--lagom-component-page-header-typography);
  font-size: var(--header-scale-1);
  text-align: center;
  text-wrap: balance;
  margin: 0 auto;
  margin-bottom: calc(2 * var(--lagom-core-spacing-xxl));
}

@media screen and (max-width: 992px) {
  .lagom-page-header {
    font-size: var(--header-scale-2);
  }
}

@media screen and (max-width: 568px) {
  .lagom-page-header {
    font-size: var(--header-scale-3);
    margin-bottom: var(--lagom-core-spacing-xxl);
  }
}
