.lagom-call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lagom-call-to-action p {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin: 0 auto 4rem auto;
  padding: 0 2rem 0 2rem;
}

@media screen and (max-width: 992px) {
  .lagom-call-to-action p {
    font-size: 16px;
    margin: 0 auto 2rem auto;
    padding: 0 1rem 0 1rem;
  }
}
