.lagom-container {
  max-width: var(--lagom-component-container-width, 1000px);
  margin: 0 auto;
  margin-bottom: var(--lagom-component-container-margin-bottom, 4rem);
}

.lagom-container--margin-none {
  margin-bottom: unset;
}
