.lagom-container {
  max-width: var(--lagom-component-container-width, 1120px);
  margin: 0 auto;
  margin-bottom: var(--lagom-component-container-margin-bottom, 8rem);
}

.lagom-container.lagom-container--margin-none {
  margin-bottom: unset;
}
