@font-face {
  font-family: "silkamono";
  src: url("../public/silkamono-regular-webfont.woff2") format("woff2");
}

body * {
  color: var(--lagom-semantic-color-fg-default);
}

#storybook-docs {
  & a[aria-hidden="true"] {
    border-bottom: none;
    padding-bottom: 0;
  }
}
