.lagom-section-header {
  color: var(--lagom-semantic-color-fg-default);
  font: var(--lagom-component-section-header-typography);
  font-size: var(--header-scale-2);
  text-align: center;
  text-wrap: balance;
  margin: 0 auto;
  margin-bottom: var(--lagom-core-spacing-xxl);
}

@media screen and (max-width: 992px) {
  .lagom-section-header {
    font-size: var(--header-scale-3);
  }
}

@media screen and (max-width: 568px) {
  .lagom-section-header {
    font-size: var(--header-scale-4);
    margin-bottom: var(--lagom-core-spacing-xl);
  }
}
